.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.header_img{
    width: 5rem;
    height: 5rem
}
.header_text{
    font-size: 2rem;
    font-weight: 500;
}
.progressbar{
    width: 400px;
  height: 3px;
  background-color: var(--text-color);
  margin-bottom: 4rem;
  margin-top: 1rem;
}
.progressbar div{
    width: 25%;
    height: 100%;
    background-color: var(--primary-color);
}

.formCard_headerMain{
    color: var(--secondary-color)
}