.form_container{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.header_img{
    width: 5rem;
    height: 5rem
}
.header_text{
    font-size: 2rem;
    font-weight: 500;
}